<div class="bg">
<div class="container one">
  <div class="row">
    <div class="col-sm-3 col-md-3" style="padding-top: 3%">
      <h5>asgdfaghsdfhagsdfhas</h5>
      <!-- <ul class="list-group">
          <li class="list-group-item box" style="padding-top: 3%" ><a href='\'></a>Red Rice
       </li>
         <li class="list-group-item box" style="padding-top: 3%">
          <a href='\'></a>Basmathi</li>
            <li class="list-group-item box" style="padding-top: 3%"> <a href='\'></a>Idly Rice</li>
        </ul> -->
        
<div class="collection two">
   <a href="#!" class="collection-item">Alan</a>
    <a href="#!" class="collection-item">Alan</a>
     <a href="#!" class="collection-item">Alan</a> 
     <a href="#!" class="collection-item">Alan</a> 
  </div>
    </div>
    <div class="col-sm-9 col-md-9" style>

    </div>
  </div>

</div>
</div>
    
    
    
      