.badge{
    float: right;
    background-color: gray;
    color: white
}
/* .box:hover{
    background-color: #0c4d6c;
    color:white;
} */
.box{
    color: #0c4d6c;
}
.one{
    background-color: white;
}
.bg{
    padding-top: 16%;
    /* padding-bottom: 6%; */
}
.two{
    width: 70%;
}
.collection-item{
    color:blueviolet;
    
}

.collection-item:hover{
    background-color: #0c4d6c;
    color:white;
}
.items{
    margin-left:5%
}
.lst{
    padding-top:8%
}
.symbol{
    padding-left:48%
}
/* .modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    /* background-color: #fafafa; */
    /* padding: 0; */
    /* max-height: 70%; */
    /* width: 55%; */
    /* margin: auto; */
    /* overflow-y: auto; */
    /* border-radius: 2px; */
    /* will-change: top, opacity; */
/* } */ 