.badge{
    float: right;
    background-color: gray;
    color: white
}
/* .box:hover{
    background-color: #0c4d6c;
    color:white;
} */
.box{
    color: #0c4d6c;
}
.one{
    background-color: white;
}
.bg{
    padding-top: 6%;
    /* padding-bottom: 6%; */
}